
<div allign="center">
    <fieldset class="scheduler-border col-sm-12" >
      <legend class="scheduler-border">Show All Customer</legend>
     <form class="form-horizontal" action="/action_page.php">
       
        <div class="form-group">        
          <div class="col-md-offset-9 col-md-12">
            <button type="submit" (click)="getAllCustomer()" class="btn btn-primary">Show All Customer</button>
         
          </div>
        </div>
      </form>
      <table class="table  table-bordered nowrap">
        <th>Customer Name</th>
        <th>Mobile Number</th>
        <th>Action</th>
       <tr *ngFor="let customer of customerList">
         <td>{{customer.customerName}}</td>
        <td>{{customer.customerMobileNumber}}</td>
        <td><button class="btn btn-xs btn-primary">De-activate</button>
        <button class="btn btn-xs btn-primary">Details</button></td>
        </tr>

      </table>
    
      </fieldset>
      </div>